@import "tailwindcss";

@theme {
  --color-brand: #F59E0B;
  --color-brand-dark: #D97706;
  --color-brand-light: #FEF3C7;
  --color-brand-accent: #FF0000;
  --color-dark-bg: #111827;
  --color-slate-bg: #1F2937;
}
